#comm-info{
    position: absolute;
    right: calc(-10px + -15vw);
    width: 15vw;
    background: none;
    border: 2px solid $border-light;
    border-radius: 5px;
    padding: 10px;

    #comm-name{
        font-weight: bolder;
        text-align: center;
    }

    #comm-date{
        font-size: 17px;
    }

    #comm-posts-amount{
        font-size: 17px;
    }
}