header{
    font-family: 'Roboto', sans-serif;
    position: fixed;
    width: 100vw;
    max-height: 100px;
    top: 0;
    padding: 0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    background-color: rgba(26, 26, 27, 0.95);
    z-index: 2;

    a{
        text-decoration: none !important;
    }

    .logo{
        margin-left: 2.5vw;

        img{
            width: 70px;
        }
    }

    .community-filter{
        margin: auto 0px;
        margin-left: auto;
        font-size: 2.5vw;

        .dropdown-button{
            position: relative;
            cursor: pointer;
            user-select: none;
        }

        .communities-menu{
            position: absolute;
            max-height: 400px;
            min-width: 200px;
            user-select: none;
            background-color: #1A1A1B;
            border: 1px solid #676767;
            border-radius: 3px;
            font-size: 20px;
            text-align: center;

            div{
                width: 100%;
                margin: 10px 0;

                a{
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    color: whitesmoke;
                }
            }

            div:hover{
                background-color: #676767;
            }
        }
    }

    .user-search-bar{
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        
        input[type='search']{
            height: 37px;
            width: 50vw;
            border: 1px solid #9a9b9c;
            border-radius: 2.5px;
            background-color: #3A3A3C;
            font-size: 20px;
            color: whitesmoke;

            ::placeholder{
                color: whitesmoke;
            }
        }
    }

    .github{
        margin: auto auto;
        font-size: 60px;
    }

    .user{
        margin-right: auto;

        .log{
            background: none;
            border: 1.5px solid #9a9b9c;
            border-radius: 5px;
            font-size: 23px;
            color: whitesmoke;
        }
    }

    #usr-dropdown{
        display: inline-block;

        .username{
            font-size: 30px;
            margin-right: 2vw;
            position: relative;
            cursor: pointer;
            user-select: none;
            text-overflow: ellipsis;
            display: block;
        }

        .usr-options{
            position: absolute;
            max-width: 250px;
            max-height: 500;
            padding: 10px;
            background-color: $container-background;
            border: 1.5px solid $border-light;
            border-radius: 5px;
            right: 20px;

            a{
                color: $font;
            }

            #logout{
                display: inline-block;
        
                button{
                    background: none;
                    border: none;
                    color: whitesmoke;
                }
            }
        }
    }

    
}