.no_posts_alert{
    display: block;
    text-align: center;
}

#up-container{
    width: 60vw;
    margin: auto;

    article{
        width: 100%;
        margin: 10px auto;
        padding: 0px 20px;
        padding-bottom: 20px;
        border: 1px solid #676869;
        border-radius: 5px;
    
        a{
            text-decoration: none !important;
            color: whitesmoke !important;
        }

        .post-info{
            position: relative;
    
            span{
                font-size: 17px;
                color: #c0c0c0;
            }
    
            a{
                font-size: 17px;
                text-decoration: none;
            }

            a:hover{
                text-decoration: underline !important;
            }
    
            .community_name{
                margin: 0;
                font-weight: lighter;
            }
    
            #post-opts{
                position: absolute;
                right: 10px;
                top: 10px;
                display: flex;
                flex-direction: column;
    
                form{
                    background-color: $container-background;
                    border: 2px solid $border-light;
                    border-radius: 5px;
                    padding: 10px;
                    min-width: 500px;
                    position: absolute;
                    right: 0;
                }
    
                .edit-btn{
                    text-align: center;
                    border: 2px solid $border-light;
                    border-radius: 5px;
                    padding: 5px;
                }
            }
        }
    
        .title{
            width: 90%;
            font-weight: bold;
        }

        .excerpt{
            font-weight: lighter;
        }
    };
    
    article:hover{
        border: 1px solid #9a9b9c;
    }
}

@media (max-width: 1000px){
    #up-container{

        article{
            .post-info{
                margin-bottom: 10px;
                span, a{
                    font-size: 1.5rem;
                }
            }

            .title{
                font-size: 2.5rem;
                margin-bottom: 10px;
            }

            .excerpt{
                font-size: 2rem;
            }
        }
    }
}