.success{
    position: fixed;
    bottom: 10px;
    right: 50px;
    border-radius: 10px;
    background-color: #008F39;
    text-align: center;
    padding: 30px;
    cursor: default;

    p{
        margin: 0;
    }
}