.usr-card{
    width: 100%;
    margin-bottom: 50px; 
    display: flex;
    align-items: center;

    #profile-pic{
        width: 80px;
        margin-right: 10px;
        border-radius: 50%;
        border: 2px solid whitesmoke;
    }
    
    a{
        text-decoration: none;
        color: whitesmoke;
    }
}