@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url("header.css");
@import url("paginator.css");
@import url("comment.css");
@import url("profile.css");

.main-container{
    margin-top: 100px;
}

.no_posts_alert{
    display: block;
    text-align: center;
}

#up-container{
    width: 60vw;
    margin: auto;
}

.usr-card{
    width: 100%;
    margin-bottom: 50px; 
    display: flex;
    align-items: center;
}

.usr-card a{
    text-decoration: none;
    color: whitesmoke;
}

.btn{
    display: block;
    border: 1.5px solid #9a9b9c;
    background: none;
    border-radius: 5px;
    color: whitesmoke;
    width: 90%;
    margin: auto;
}

.btn:hover{
    text-decoration: none;
    color: whitesmoke;
}

article{
    width: 100%;
    margin: 10px auto;
    padding: 0px 20px;
    padding-bottom: 20px;
    border: 1px solid #676869;
    border-radius: 5px;
    cursor: pointer;
};

article:hover{
    border: 1px solid #9a9b9c;
}

.title{
    margin: 0;
    margin-bottom: 0;
}

.post-info span{
    font-size: 17px;
    color: #9a9b9c
}

.post-info a{
    font-size: 17px;
    text-decoration: none;
    color: #9a9b9c;
}

.post-info a:hover{
    text-decoration: underline !important;
}

article a{
    text-decoration: none !important;
    color: whitesmoke !important;
} 

.danger{
    float: right;
    border: 2px solid #df4759;
    border-radius: 5px;
    color: #df4759 !important;
    background: none;
    padding: 5px;
    user-select: none;
    cursor: pointer;
}

#delete-post{
    width: 40vw;
    height: 270px;
    text-align: center;
    background-color: #000000;
    border: 5px solid #df4759;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#delete-post .danger{
    float:none;
    margin: auto;
}

.community_name{
    margin: 0;
    font-weight: lighter;
}

#subscribe{
    text-align: center;
    margin: 20px auto;
    width: 15vw;
}

.newsletter{
    border: 1.5px solid #9a9b9c;
    background: none;
    border-radius: 5px;
    color: whitesmoke;
}

#creator{
    text-align: center;
    width: 70vw;
    display: flex;
    flex-direction: column;
    background-color: #1A1A1B;
    border: 3px solid #676869;
    border-radius: 10px;
    color: whitesmoke;
    padding: 20px;
    margin: 100px auto;
}

#post-form{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: start;
    color: whitesmoke;
}

#post-form textarea{
    font-size: 15px;
    min-height: 300px;
    background-color: #3A3A3C;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    min-height: 150px;
    color: whitesmoke;
    margin-bottom: 50px;
}

#post-form > .select, #post-title{
    color: whitesmoke;
    background: none;
    outline: none;
    border: none;
    border-bottom: 4px solid whitesmoke;
    margin-bottom: 20px;
}

#post-form > .select, #post-title:hover, #post-title:focus{
    color: whitesmoke;
    background: none;
    outline:none;
    border-bottom: 4px solid whitesmoke;
}

#post-form > .select > option{
    background: #000000;
}

#post-form > input[type="submit"]{
    border: 1.5px solid #9a9b9c;
    background: none;
    border-radius: 5px;
    color: whitesmoke;
}

#post-form .error-msg{
    margin-top: 10px;
    text-align: center;
    color: #df4759;
}

.success{
    position: fixed;
    bottom: 10px;
    right: 50px;
    border-radius: 10px;
    background-color: #008F39;
    text-align: center;
    padding: 30px;
    cursor: default;
}

.success p{
    margin: 0;
}

.error{
    position: fixed;
    bottom: 10px;
    right: 50px;
    border-radius: 10px;
    background-color: #df4759;
    text-align: center;
    padding: 30px;
    cursor: default;
}

.error p{
    margin: 0;
}
