@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url("header.css");

body, html{
    margin: 0;
    font-family: 'Roboto';
    font-size: 120%;
    color: whitesmoke;
    background-color: #000000;
}

.main-container{
    margin-top: 100px;
}

.no_posts_alert{
    display: block;
    text-align: center;
}

article{
    width: 50vw;
    margin: 10px auto;
    padding: 0px 20px;
    border: 1px solid #676869;
    border-radius: 5px;
    cursor: pointer;
};

article:hover{
    border: 1px solid #9a9b9c;
}

.title{
    margin: 0;
    margin-bottom: 0;
}

.post-info span{
    font-size: 13px;
}

.post-info a{
    font-size: 13px;
    text-decoration: none;
    color: whitesmoke;
}

.post-info a:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.community_name{
    margin: 0;
    font-weight: lighter;
}

.date{
    display: block;
    text-align: end;
    font-size: 20px;
}