header{
    font-family: 'Roboto', sans-serif;
    position: fixed;
    width: 100vw;
    max-height: 100px;
    top: 0;
    padding: 0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    background-color: rgba(26, 26, 27, .95);
}

header a{
    text-decoration: none !important;
}

header .logo{
    margin-left: 2.5vw;
}

header .logo img{
    width: 70px;
}

header .community-filter{
    margin: auto 0px;
    margin-left: auto;
    font-size: 2.5vw;
}

header .community-filter .dropdown-button{
    position: relative;
    cursor: pointer;
    user-select: none;
}

header .community-filter .communities-menu{
    position: absolute;
    max-height: 400px;
    min-width: 200px;
    user-select: none;
    background-color: #1A1A1B;
    border: 1px solid #676767;
    border-radius: 3px;
    font-size: 20px;
}

header .community-filter .communities-menu div{
    width: 100%;
    margin: 10px 0;
}

header .community-filter .communities-menu div:hover{
    background-color: #676767;
}

header .community-filter .communities-menu div a{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: whitesmoke;
}

header .user-search-bar{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

header .user-search-bar input[type='search']{
    height: 37px;
    width: 50vw;
    border: 1px solid #9a9b9c;
    border-radius: 2.5px;
    background-color: #3A3A3C;
    font-size: 20px;
    color: whitesmoke;
}

::placeholder{
    color: whitesmoke;
}

header .github{
    margin: auto auto;
    font-size: 60px;
}

header .user{
    margin-right: auto;
}

header .user .log{
    background: none;
    border: 1.5px solid #9a9b9c;
    border-radius: 5px;
    font-size: 23px;
}

header .user a .log{
    color: whitesmoke;
}

#usr-dropdown{
    display: inline-block;
}

.username{
    font-size: 30px;
    margin-right: 2vw;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.usr-options{
    position: absolute;
}

#logout{
    display: inline-block;
}

#logout button{
    background: none;
    border: none;
    color: whitesmoke;
}