body{
    background-color: #000000;
}

#register{
    display: flex;
    flex-direction: column;
    width: 40vw;
    background-color: #1A1A1B;
    border: 3px solid #676869;
    border-radius: 10px;
    color: whitesmoke;
    padding: 20px;
    margin: 100px auto;
}

#register h1{
    text-align: center;
}

#register #register-form{
    display: flex;
    flex-direction: column;
}

#register #register-form .input{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}

#register #register-form .input input{
    height: 45px;
    font-size: 20px;
    border-radius: 10px;
}

#register #register-form .input input:focus{
    outline: none;
}

#register #register-form .submit{
    width: 40%;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    background-color: #3A3A3C;
    border: 1px solid #9a9b9c;
    border-radius: 5px;
    color: whitesmoke;
}

p{
    width: 100%;
    text-align: center;
}